{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vinoteca_app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vinoteca_app/responsive.css' %}">
{% endblock %}
{% block content %}
<section class="auth-section">
    <div class="auth-card">
        <h2 class="auth-title">Iniciar sesión</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit">Ingresar al sistema</button>
        </form>
        <div class="auth-footer">
            <p class="auth-footer-text">¿No tenés una cuenta autorizada?</p>
            <a href="{% url 'registro' %}" class="btn-secondary">
                Crear una cuenta
            </a>
        </div>
    </div>
</section>
{% endblock %}