{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vinoteca_app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vinoteca_app/responsive.css' %}">
{% endblock %}

{% block content %}
<section class="about-hero">
    <div class="about-hero-content">
        <span class="hero-tagline">Nuestra Esencia</span>
        <h1 class="hero-title">Tradición que <span>fluye en el tiempo</span></h1>
    </div>
</section>

<section class="about-story">
    <div class="story-grid">
        <div class="story-image">
            <div class="image-wrapper">
                <img src="{% static 'images/viniedos.png' %}" alt="Nuestros viñedos antiguos" class="main-img">
            </div>
        </div>
        <div class="story-text">
            <h2 class="section-label tal">{{ contenido.titulo_historia }}</h2>
            <p class="hero-description">
                {{ contenido.parrafo1_historia }}
            </p>
            <p class="hero-description">
                {{ contenido.parrafo2_historia }}
            </p>
        </div>

        <div class="story-text">
            <h2 class="section-label tal">{{ contenido.titulo_secreto }}</h2>
            <p class="hero-description">
                {{ contenido.parrafo1_secreto }}
            </p>
            <p class="hero-description">
                {{ contenido.parrafo2_secreto }}
            </p>
        </div>
        <div class="story-image">
            <div class="image-wrapper">
                <img src="{% static 'images/cava.jpg' %}" alt="Nuestra cava" class="main-img">
            </div>
        </div>
    </div>
</section>
{% endblock %}