{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vinoteca_app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vinoteca_app/responsive.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'vinoteca_app/modal.js' %}"></script>
{% endblock %}

{% block content %}
<section class="wines-header">
    <span class="hero-tagline">Nuestra Colección</span>
    <h1 class="hero-title">El Arte de la <span>Tierra</span></h1>
    <p class="hero-description" style="margin: 0 auto 4rem;">
        Cada etiqueta cuenta una historia única. Desde la intensidad de nuestros Malbec hasta la frescura de nuestros Chardonnay.
    </p>
</section>

<section class="wines-gallery">
    <h2 class="section-label">Tintos de Guarda</h2>

    <div class="featured-grid">
        {% for vino in vinos_api %}
        <article class="wine-card">
            <div class="card-img-placeholder">
                <img src="{% static 'images/tinto.png' %}" alt="{{ vino.wine }}" class="wines-img">
            </div>
            <div class="wine-info">
                <h3>{{ vino.wine }}</h3>
                <p>Bodega: <strong>{{ vino.winery }}</strong></p>

                <button class="btn-link btn-detalle"
                        data-name="{{ vino.wine }}"
                        data-desc="Este es un tinto exclusivo de la bodega {{ vino.winery }}. Cuenta con una excelente puntuación de {{ vino.rating.average }} estrellas basada en {{ vino.rating.reviews }} reseñas en el mercado internacional."
                        data-price="$ 18.500">
                    Ver Detalles
                </button>
            </div>
        </article>
        {% empty %}
            <p class="error-msg">No se pudieron cargar los vinos de la API externa en este momento.</p>
        {% endfor %}
    </div>
</section>

<div id="wine-modal" class="modal-overlay">
    <div class="modal-content">
        <button id="close-modal" class="close-btn">&times;</button>
        <h2 id="modal-wine-name"></h2>
        <p id="modal-wine-desc"></p>
        <span id="modal-wine-price" class="price"></span>
    </div>
</div>
{% endblock %}