{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinoteca Reserva</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/globalStyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/globalResponsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logoVinoteca.png' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if '/panel-admin/' in request.path %}
        {% include 'header_panel.html' %}
    {% else %}
        {% include 'header.html' %}
    {% endif %}

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    {% if '/panel-admin/' in request.path %}
        {% include 'footer_panel.html' %}
    {% else %}
        {% include 'footer.html' %}
    {% endif %}
    {% block extra_js %}{% endblock %}
</body>
</html>
