{% extends 'emails/email_base.html' %}

{% block content %}
    <h2 style="color: #2f2721; margin-top: 0;">Hola, {{ permitido.nombre }}</h2>
    <p>Se ha iniciado un pedido de registro para tu cuenta en el <strong>Panel de Administración de Vinoteca Reserva</strong>.</p>
    <p>Como el acceso es restringido, necesitamos que verifiques tu identidad ingresando el código de seguridad obligatorio.</p>

    <div class="code-box">{{ permitido.codigo_validation }}</div>

    <p style="text-align: center;">
        <a href="http://127.0.0.1:8000/validar-cuenta/" class="btn-action">Verificar mi Cuenta</a>
    </p>

    <p style="font-size: 12px; color: #888;">Si no solicitaste este acceso, por favor desestima este correo.</p>
{% endblock %}